/*Common Classes*/
.white{
    color:#f8f8f8;
}

.black{
    color: #363636;
}

.yellow{
    color: #ffdc00 !important;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.auto{
    margin: auto;
}

.bgWhite{
    background : #fff;
}

.p20{
    padding: 20px;
}

.mtop40{
    margin-top: 40px;
}

.both{
    clear: both;
}

.full-width{
    width: 100%;
}

.img-shadow{
    border: 0.5rem solid #eee;
    box-shadow: 0 2px 4px 0 #99a3ad,inset 0 0 40px #eeeeee;
}

.oh{
    overflow: hidden;
}

.sectionTitle{
    background: rgba(200,200,200,0.2);
    padding: 20px;
    color: #666;
    text-shadow: 0px 0px 1px #111;
}

/* Card Styles
-------------------------------------------------- */

.card{
    text-align: center;
    padding: 25px;
    margin-bottom: 20px;
}

.card-shadow{
    box-shadow:0 1px 2px #aaa;
    background: white;
}

.cardHeading{
    font-size: 22px;
    margin-bottom: 10px;
}

.cardImage{
    margin: 0 auto 15px;
    max-width: 250px;
    max-height: 200px;
}

.cardTitle{
    font-weight: bold;
    font-size: 16px;
}

.cardSubTitle{
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.cardContent{
    margin-top: 10px;
    text-align: justify;
}

.card300{
    height: 300px;
    overflow: hidden;
}

.card300 .cardContent{
    height: 250px;
    overflow: scroll;
}

.card500{
    height: 500px;
    overflow: hidden;
}

.card500 .cardContent{
    height: 150px;
    overflow: scroll;
}


/* GLOBAL STYLES
-------------------------------------------------- */

body {
    color: #363636;
    background-color: #f3f3f3;
    /*font-family: 'Helvetica', sans-serif !important;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.row{
    margin: 0 !important;
}

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}

/*Main Skeleton w/ Sidebar & rest of the content
-------------------------------------------------- */
#main #sidebar, #main #notSidebar{
    transition: all 0.4s ease;
    transform: translate3d(0,0,1px);
}

#main #sidebar{
    left: -280px;
    position: fixed;
}

#main.sidebar-visible #sidebar{
    left: 0px;
}

#main #notSidebar{
    left:0px;
}

#main.sidebar-visible #notSidebar{
    left: 280px;
}


/*Sidebar
-------------------------------------------------- */
#sidebar{
    width: 280px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: white;
    color: inherit;
    padding: 0px;
    margin: 0px;


    display: flex;
    flex-flow: column;
    box-shadow: 1px 5px 9px #ccc;
    
}

#sidebar .sidebarItem {
    flex: 1;
    background-color: #fafafa;
    padding: 0 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#sidebar .sidebarItem:hover {
    background: #eee;
}

#sidebar a.sidebarItem{
    text-decoration: none;
    color: #363636;
}

#sidebar .sidebarHighlight{
    background: #ddd;
}

#sidebar a.sidebarHighlight{
    color: #1abc9c;
}

#sidebar .sidebarHighlight:hover {
    background: #ddd;
}


/*notSidebar
-------------------------------------------------- */
#notSidebar{
    padding: 0px;
    margin: 0px;
}

#notSidebar #toggleSidebar{
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 100;
    width: 40px;
    box-shadow: 1px 1px 1px #eee;
    border-radius: 20px;
    cursor: pointer;
}


/*Page Title Box
-------------------------------------------------- */
#pageTitle{
    position: absolute;
    top:0px;
    width:100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: white;
    text-shadow: 3px 3px 3px #555;
}

#pageTitleContent{
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

#pageTitle h1{
    font-size: 3rem;
    font-weight: 700;
}

#pageTitle h2{
    font-size: 1.5rem;
    font-weight: 700;
}

/* HOMEPAGE CAROUSEL
-------------------------------------------------- */
#homeCarousal{
    min-height: 100%;
    clear: both;
    display: block;
}

#homeCarousal .item img{
    width:100%;
}

#homeCarousal .slick-prev{
    left: 20px;
    z-index: 2;
}

#homeCarousal .slick-next{
    right: 20px;
    z-index: 2;
}

/* Stories Box Icons
-------------------------------------------------- */
.storyPrevIcon{
    float: left;
}

.storyNextIcon{
    float: right;
}

.storyPrevIcon, .storyNextIcon{
    position: inherit;
    display: inline;
    margin-top: 5px;
}

.storyPrevIcon:before, .storyNextIcon:before{
    position: inherit;
    display: inline;
    color:black;
}
/* ABOUT
-------------------------------------------------- */
#philosophyBox{
    background-image: url('../images/about/team.jpg');
    background-size: cover;
    color: white;
    height: 500px;
}

#philosophyBox>div{
    background: rgba(30,30,30,0.34);
    padding: 10px;
    width: 400px;
    height: 500px;
}

/* PRESS
------------------------- */
.pressBox{
    padding: 30px 10px;
    margin: auto;
}

.pressBox h3{
    margin-bottom: 20px;
}

.pressBox a {
    text-decoration: none;
}

.pressCard{
    text-align: center;
    background-color: #ffffff;
    height: 280px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pressCard img{
    width: 150px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.pressCard .pressLink{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

/*2013 & 2014 page image-carousals
------------------------- */
.carousal img{
    width:100%;
    margin: 0 auto 15px;
}

.carousal .slick-prev{
    left: 75px;
}

.carousal .slick-next{
    right: 75px;
}

/* JOINUS PAGE
-------------------------------------------------- */
#joinusBox{
    width:760px;
    margin: auto;
}

/* FOOTER CSS
-------------------------------------------------- */
#footer{
    margin-top:50px;
    background : #1abc9c;
    height: 100px;
    padding-top:30px;
    text-align: center;
}

#footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media(max-width:767px){
    .copyright{display:none;}
}

.contactIcon{
    margin:10px 10px;
    padding: 5px;
    text-decoration: none;
}

.copyrightLogo{
    margin-right: 30px;
    color: white;
}