/*Common Classes*/
.white{
    color:#f8f8f8;
}

.black{
    color: #363636;
}

.yellow{
    color: #ffdc00 !important;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.auto{
    margin: auto;
}

.bgWhite{
    background : #fff;
}

.p20{
    padding: 20px;
}

.mtop40{
    margin-top: 40px;
}

.both{
    clear: both;
}

.divider{
    color:#eee;
    margin:20px 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #363636;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#header{
    background : #1abc9c;
    margin: 0;
    height: 100px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #1abc9c;
    border-color: transparent;
    color: white !important;
}

.navbar{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.navbar-collapse{
    margin-bottom: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

#header .navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.navbar ul{
    margin-top:20px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand{
    padding: 0;
}
#navLogo{
    width: 100px;
}

#homeLogo{
    width: 150px;
}

.navbar-header button{
    background-color: white;
}

.navbar-header .icon-bar{
    background-color: #000000;
}

#header .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    padding: 12px 5px 5px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 700;
}

#header .nav>li>a {
    padding: 10px 10px;
}

.nav>li.open>a, .nav>li>a:hover, .nav>li>a:active{
    background : transparent;
    border-bottom: 3px solid #fff !important;
}

@media (max-width: 768px) {
    #header{
        height:80px;
    }

    #navLogo{
        width: 80px;
    }

    #homeLogo{
        width: 100px;
    }


    .navbar-toggle{
        margin-top:23px;
    }
}

@media (min-width: 1000px) {
#header .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    padding: 12px 5px 5px;
    font-size: 22px;
    text-shadow: none;
    font-weight: 700;
}

#header .nav>li>a {
    padding: 10px 25px;
}
}

#header .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 120px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #1abc9c;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    background-clip: padding-box;
    color: white;
    padding: 12px 5px 5px;

}

#header .dropdown-menu li a{
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-weight: 700;
    text-align: left;
}

#header .dropdown-menu li a:hover, .dropdown-menu li a:active{
    background: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

/*Page Title Box
-------------------------------------------------- */
#pageTitle{
    position: absolute;
    top:0px;
    width:100%;
    margin:auto;
    text-align: center;
    padding: 10px;
    z-index: 10;
    display: table;
    background-color: rgba(100,100,100,0.3);
}

#pageTitleContent{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#pageTitle h1,h2{
    text-shadow: 0 1px 2px rgba(0,0,0,.9);
    color: white;
    font-weight: 700;
}

#pageTitle h1{
    font-size: 60px;
}

#pageTitle h2{
    font-size: 40px;
}

@media(max-width:500px){
    #pageTitle{
        position: static;
        padding: 50px 0;
        background-color:transparent;
    }

    #pageTitle h1,h2{
        color: #1abc9c;
        text-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }

    #pageTitle h1{
        font-size: 35px;
    }

    #pageTitle h2{
        font-size: 25px;
    }
}
@media(max-width:767px){
    #pageTitle{
        top:0px;
    }

    #pageTitle h1{
        font-size: 40px;
    }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#myCarousel{

}

@media(max-width:767px){
    #myCarousel{
        margin-top: 0px;
    }

    #myCarousel .carousel-indicators {
        bottom: 100px;
    }
}

/* Carousel base class */
#myCarousel {
    /*max-height: 500px;*/
    margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
#myCarousel .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel .item {
    /*max-height: 500px;*/
    width: 100%;
    background-color: #f8f8f8;
}

#myCarousel .carousel-inner > .item > img {
    margin:auto;
    width: 100%;
}

/*Over-rides to the base bootstrap.css*/
#myCarousel .carousel-control.left, #myCarousel .carousel-control.right{
    background-image: none;
    color: #fff;
    opacity: 1;
    background-color: transparent;
    z-index: 99999999;
}

#myCarousel .carousel-indicators {
    bottom: 30px;
}

/*@media(max-width:500px){
    #myCarousel{
        display: none;
    }
}*/





/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    z-index: 1;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}

.marketing h1 {
    text-align: center;
    font-size: 50px;
}

.marketing h2 {
    text-align: center;
    font-size: 40px;
}

.marketing h3 {
    text-align: center;
    font-size: 30px;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* PARTICIPANT STORIES
------------------------- */
.storyBox{
    display: none;
    padding: 10px 0;
    overflow: hidden;
}

.storyBoxAuthorImg{
    width:140px;
    float: left;
    padding: 10px;
}

.storyBoxAuthorName{
    display: inline-block;
    float: left;
    font-size: 16px;
    width: 200px;
    padding: 10px;

}

.storyBoxAuthorDetails{
}

.storyBoxStory{
    float: left;
    clear: both;
    padding: 10px;
}

.storyBoxStory a{
    text-decoration: none;
}

/* INITIATIVES
------------------------- */
.initiativeBox{
    padding: 10px;
    overflow: hidden;
}

.initiativeBox .initiativeImg{
    width: 140px;
    margin:10px;
}

.initiativeBox .initiativeStory{
    float: left;
}



/* SOCIAL FEEDS
------------------------- */
.socialFeedBox{
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.socialFeedBox .pressCollage{
    width: 300px;
}


/* ABOUT
-------------------------------------------------- */
.aboutBox{
    padding: 30px 10px;
    margin: auto;
}


/* TEAM PAGE
------------------------- */
.teamMembersBox .row{
    margin-top: 15px;
}
.teamMembersBox h3{
    font-weight: 300;
}

.teamMemberCard{
    overflow: hidden;
    padding: 10px;
    min-height: 300px;
}

.teamMemberCard img{
    margin-right: 20px;
}

/* PRESS
------------------------- */
.pressBox{
    padding: 30px 10px;
    margin: auto;
}

.pressBox h3{
    margin-bottom: 20px;
}

.pressBox a {
    text-decoration: none;
}

.pressCard{
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
    height: 200px;
    border: 1px solid #efefef;
}

.pressCard img{
    width: 150px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.pressCard .pressLink{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


/* IMPACT
------------------------- */

.impactBox{
    padding: 30px 10px;
    margin: auto;
}


/*2013
------------------------- */
@media(min-width:768px){
    #carousal2013{
        width:800px;
        margin: auto;
    }
}

#carousal2013 .carousel-control{
    opacity: 1;
    background-image: none;
    background-color: transparent;
}

#carousal2013 .carousel-control.left, #carousal2013 .carousel-control.right{
    display: block;
}

/* FOOTER CSS
-------------------------------------------------- */
#footer{
    margin-top:50px;
    background : #1abc9c;
    height: 100px;
    padding-top:30px;
    text-align: center;
}

#footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media(max-width:767px){
    .copyright{display:none;}
}

.contactIcon{
    margin:10px 10px;
    padding: 5px;
    text-decoration: none;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
        background-color: #ededed;
        color: white;
        height: 100%;
        border-right: 1px solid #ccc;
    }

    .sidebar-offcanvas ul{
        margin-left: 30px;
        margin-top: 20px;
    }

    .sidebar-offcanvas a {
        color: #1abc9c;
        padding: 5px;
        font-size: 13px;
        text-shadow: none;
        font-weight: 700;
    }

    .sidebar-offcanvas a {
        padding: 10px 10px;
    }

    .sidebar-offcanvas a:hover, .sidebar-offcanvas a:active{}

    .sidebar-offcanvas .dropdown-menu {
        border: none;
        box-shadow: none;
        background-clip: padding-box;
        margin-left: 0;
    }

    .sidebar-offcanvas .dropdown-menu li a{
        color: #1abc9c;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .sidebar-offcanvas .dropdown-menu li a:hover, .sidebar-offcanvas .dropdown-menu li a:active{
        background: none;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }
}
@media(min-width:768px){
    .sidebar-offcanvas {
        display: none;
    }
}
