/*Common Classes*/
.white{
    color:#f8f8f8;
}

.black{
    color: #363636;
}

.yellow{
    color: #ffdc00 !important;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.auto{
    margin: auto;
}

.bgWhite{
    background : #fff;
}

.p20{
    padding: 20px;
}

.mtop40{
    margin-top: 40px;
}

.both{
    clear: both;
}

.divider{
    margin:40px;
    clear: both;
    border: 0;
    height: 2px;
    background: #999;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.full-width{
    width: 100%;
}

.img-shadow{
    border: 0.5rem solid #eee;
    box-shadow: 0 2px 4px 0 #99a3ad,inset 0 0 40px #eeeeee;
}



.oh{
    overflow: hidden;
}

.card{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.card500{
    height: 500px;
    overflow: auto;
}

.card-shadow{
    box-shadow:0 1px 2px #aaa;
    background: white;
}

.cardHeading{
    font-size: 22px;
    margin-bottom: 10px;
}

.cardImage{
    margin: 0 auto 15px;
    max-width: 250px;
}

.cardTitle{
    font-weight: bold;
    font-size: 16px;
}

.cardSubTitle{
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.cardContent{
    text-align: justify;
    margin-top: 10px;
}



/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #363636;
    background-color: #f3f3f3;
    font-family: 'Helvetica', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.row{
    margin: 0 !important;
}

/*Main Skeleton w/ Sidebar & rest of the content
-------------------------------------------------- */
#main #sidebar, #main #notSidebar{
    transition: all 0.4s ease;
    transform: translate3d(0,0,1px);
}

#main #sidebar{
    left: -280px;
    position: fixed;
}

#main.sidebar-visible #sidebar{
    left: 0px;
}

#main #notSidebar{
    left:0px;
}

#main.sidebar-visible #notSidebar{
    left: 280px;
}


/*Sidebar
-------------------------------------------------- */
#sidebar{
    width: 280px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: white;
    color: inherit;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-flow: column;
    box-shadow: 1px 5px 9px #ccc;
    
}

#sidebar .sidebarItem {
    flex:1;
    background-color: #fafafa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sidebar .sidebarItem  a{
    text-decoration: none;
    color: #363636;
}


/*notSidebar
-------------------------------------------------- */
#notSidebar{
    padding: 0px;
    margin: 0px;
}

#notSidebar #toggleSidebar{
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 100;
    width: 40px;
    box-shadow: 1px 1px 1px #eee;
    border-radius: 20px;
    cursor: pointer;
}


/*Page Title Box
-------------------------------------------------- */
#pageTitle{
    position: absolute;
    top:0px;
    width:100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 3px #555;
}

#pageTitleContent{
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

#pageTitle h1{
    font-size: 60px;
    font-weight: 700;
}

#pageTitle h2{
    font-size: 40px;
    font-weight: 700;
}

@media(max-width:500px){
    #pageTitle{
        position: static;
        color: inherit;
        text-shadow: none;
    }

    #pageTitleContent h1,#pageTitleContent h2{
        font-weight: inherit;
        font-size: 20px;
    }

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#homeCarousal{
    min-height: 100%;
    clear: both;
    display: block;
}

#homeCarousal .item img{
    width:100%;
}

#homeCarousal .slick-prev{
    left: 20px;
    z-index: 2;
}

#homeCarousal .slick-next{
    right: 20px;
    z-index: 2;
}


/* PARTICIPANT STORIES
------------------------- */
.well{
    background: #f3f3f3;
    border:none;
    border-top: 1px solid #333;
    border-radius: 0;
}

#prevStory{
    float: left;
    cursor: pointer;
}

#nextStory{
    float: right;
    cursor: pointer;
}

.storyBox{
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display:none;
}

.storyBoxAuthorImg{
    width:200px;
    float: left;
}

.storyBoxAuthorName{
    display: inline;
    float: left;
    font-size: 16px;
    padding: 10px;

}

.storyBoxAuthorDetails{
}

.storyBoxStory{
    float: left;
    clear: both;
    padding: 10px;
    text-align: justify;
}

.storyBoxStory a{
    text-decoration: none;
}

/* INITIATIVES
------------------------- */
.initiativeBox{
    padding: 10px;
    overflow: hidden;
}

.initiativeBox .initiativeImg{
    width: 140px;
    margin:10px;
}

.initiativeBox .initiativeStory{
    float: left;
    text-align: justify;
}



/* SOCIAL FEEDS
------------------------- */
.socialFeedBox{
    padding: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.socialFeedBox .pressCollage{
    width: 300px;
}


/* ABOUT
-------------------------------------------------- */
.aboutBox{
    padding: 0px;
    margin: auto;
}



#philosophyBox{
    background-image: url('../images/about/team.jpg');
    background-size: cover;
    color: white;
    height: 500px;
}

#philosophyBox>div{
    background: rgba(30,30,30,0.34);
    padding: 10px;
    width: 400px;
    height: 500px;
}


/* TEAM PAGE
------------------------- */
.teamMembersBox .row{
    margin-top: 15px;
}
.teamMembersBox h3{
    font-weight: 300;
}

.teamMemberCard{
    overflow: hidden;
    padding: 20px;
    min-height: 300px;
}

.teamMemberCard img{
    margin-right: 20px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.teamTitleBox h2{
    text-shadow: none;
    color: #333;
}

/* PRESS
------------------------- */
.pressBox{
    padding: 30px 10px;
    margin: auto;
}

.pressBox h3{
    margin-bottom: 20px;
}

.pressBox a {
    text-decoration: none;
}

.pressCard{
    text-align: center;
    background-color: #ffffff;
    height: 280px;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pressCard img{
    width: 150px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.pressCard .pressLink{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


/* IMPACT
------------------------- */

.impactBox{
    padding: 0px;
    margin-bottom:50px;
    background-size: cover;
    color: #333;  
    overflow: hidden;  
}

.impactBox>img{
    width: 800px;
}

.impactBox .col-md-4>img{
    margin: auto;
}


.impactBoxText{
    background: rgba(30,30,30,0.64);
    padding: 10px;
}

.partnerImg{
    max-width: 380px;
}


/*2013
------------------------- */
/*@media(min-width:768px){
    #carousal2013{
        width:800px;
        margin: auto;
    }
}



#carousal2013 .carousel-caption{
    background: rgba(30,30,30,.6);
    padding: 10px;
}

#carousal2013 .carousel-control{
    opacity: 1;
    background-image: none;
    background-color: transparent;
}

#carousal2013 .carousel-control.left, #carousal2013 .carousel-control.right{
    display: block;
}*/

#carousal2013{
    display: block;
    clear: both;
}

#carousal2013 .item{
    padding: 0 40px 10px 40px;
}

#carousal2013 img{
    width:100%;
}

#carousal2013 .carousel-header{
    position: relative;
    top: 60px;
    background: rgba(100,100,100,0.3);
    padding: 10px 0;
    color: white;
}

#carousal2013 .carousel-caption{
    padding-bottom: 30px;
    padding: 20px;
    color: #333;
    text-align: justify;
    position: static;
    text-shadow:none;
    font-size:16px;
}

@media(max-width:768px){
    #carousal2013 .carousel-caption{
        font-size: 12px;
    }
}

#carousal2013 .carousel-control .glyphicon-chevron-left, 
#carousal2013 .carousel-control .glyphicon-chevron-right{
    font-size: 40px;
}

@media(max-width:768px){
    #carousal2013 .carousel-control .glyphicon-chevron-left, 
    #carousal2013 .carousel-control .glyphicon-chevron-right{
        top:20%;
    }
}

#carousal2013 .carousel-control{
    background: none;
}
/*#container2013 .item{
    width :300px;
}

#container2013 img{
    width :300px;
}
*/
.testimonialBox{
    clear: both;
}

.testimonialBox img{
    width:170px;
}

.testimonialBox .media-body{
    text-align: justify;
}

@media(max-width:768px){
    .testimonialBox .media-body{
        clear: both;
        padding-top: 10px;
    }
}

.sponsorshipBox img{
    /*width: 300px;*/
    height:110px;
    margin:10px auto;
}

.sponsorshipBox .luminous{
    height:100px;
    width: 300px;
    background-image: url('../images/2013/sponsors/luminous.jpeg');
    background-size: cover;
}

.sponsorshipBox .woodland{
    height:100px;
    width: 300px;
    background-image: url('../images/2013/sponsors/woodland.jpeg');
    background-size: cover;
}

/*2014
------------------------- */
.box2014 .row{
    clear: both;
}

.vidBox{
    clear: both;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.vidBox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
#masonryBox{
    clear: both;
}

#masonryBox .item { width: 25%; }
#masonryBox .item.w2 { width: 50%; }

*/


.story2014{
    padding: 10px;
    text-align: justify;
    font-size: 17px;
}

.card2014{
    
}

.card2014Story{
    min-height: 200px;
}

.w100{
    width:100px;
}

/* JOINUS PAGE
-------------------------------------------------- */
#joinusBox{
    width:760px;
    /*height: 1200px;*/
    margin: auto;
}

#joinusBox h4{
    margin: 40px 0;
}

/* FOOTER CSS
-------------------------------------------------- */
#footer{
    margin-top:50px;
    background : #1abc9c;
    height: 100px;
    padding-top:30px;
    text-align: center;
}

#footer a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media(max-width:767px){
    .copyright{display:none;}
}

.contactIcon{
    margin:10px 10px;
    padding: 5px;
    text-decoration: none;
}

.copyrightLogo{
    margin-right: 30px;
    color: white;
}