<div class="ui grid">
    <div class="computer tablet only row">
        <div id="bigNavbar" class="ui fixed menu navbar page grid">              
            <a class="item" href="./index.html">Home</a>
            <a class="item" href="./join.html">Join Us - GHE 2015</a>

            <div class="ui dropdown item">
                <i class="dropdown icon"></i>Himalayan Expeditions
                <div class="menu">
                    <a class="item" href="./2013.html">Ladakh 2013</a>
                    <a class="item" href="./2014.html">Ladakh 2014</a>
                    <a class="item" href="./2015.html">Ladakh 2015</a>
                </div>
            </div>

            <div class="ui dropdown item">
                <i class="dropdown icon"></i> Impact Initiatives
                <div class="menu">
                    <a class="item" href="./impact.html#ebase">Third Pole E-Base</a>
                    <a class="item" href="./impact.html#village">Himalayan Rural Electrification</a>
                </div>
            </div>

            <div class="ui dropdown item">
                <i class="dropdown icon"></i> About
                <div class="menu">
                    <a class="item" href="./about.html">Team</a>
                    <a class="item" href="./partners.html">Partners</a>
                    <a class="item" href="./press.html">Press</a>
                </div>
            </div>

            <a class="item" data-toggle="modal" data-target="#myUndecidedModal" href="#">Contact</a>

            <div class="right menu">
                <a class="item" target="_blank" href="https://www.facebook.com/GlobalHimalayanExpedition"><em class="icon-facebook"></em></a>
                <a class="item" target="_blank" href="https://twitter.com/ghe_connect"><em class="icon-twitter"></em></a>
                <a class="item" href="mailto:info@ghe.co.in"><em class="icon-envelope"></em> info@ghe.co.in</a>
            </div>

        </div>
    </div>
    <div class="mobile only row">
        <div class="ui fixed inverted navbar menu">
            <a href="" class="brand item">GHE</a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="reorder icon"></i>
                </a>
            </div>
        </div>
        <div class="ui fixed vertical navbar menu">
            <a class="item" href="./index.html">Home</a>
            <a class="item" href="./join.html">Join Us - GHE 2015</a>
            <div class="ui item">
                <div class="text">Himalayan Expeditions</div>
                <div class="menu">
                    <a class="item" href="./2013.html">Ladakh 2013</a>
                    <a class="item" href="./2014.html">Ladakh 2014</a>
                    <a class="item" href="./2015.html">Ladakh 2015</a>
                </div>
            </div>
            <div class="ui item">
                <div class="text">Impact Initiatives</div>
                <div class="menu">
                    <a class="item" href="./impact.html#ebase">Third Pole E-Base</a>
                    <a class="item" href="./impact.html#village">Himalayan Rural Electrification</a>
                </div>
            </div>

            <div class="ui item">
                <div class="text">About</div>
                <div class="menu">
                    <a class="item" href="./about.html">Team</a>
                    <a class="item" href="./partners.html">Partners</a>
                    <a class="item" href="./press.html">Press</a>
                </div>
            </div>

            <a class="item" data-toggle="modal" data-target="#myUndecidedModal" href="#">Contact</a>
            <div class="menu">
                <div class="item">
                <a target="_blank" href="https://www.facebook.com/GlobalHimalayanExpedition"><em class="icon-facebook"></em></a>
                <a target="_blank" href="https://twitter.com/ghe_connect"><em class="icon-twitter"></em></a>
                <a href="mailto:info@ghe.co.in"><em class="icon-envelope"></em> info@ghe.co.in</a>
                </div>
            </div>
        </div>
    </div>
</div>