<div class="row">
    <div class="col-xs-8 col-md-3 closed" id="sidebar" role="navigation">
        <!-- <div class="sidebarItem sidebarLogo"><img src="./images/logoweb.png"></div> -->
        <div class="sidebarItem"><a href="./index.html">Home</a></div>
        <div class="sidebarItem"><a href="./about.html">About Us</a></div>
        <div class="sidebarItem"><a href="./2013.html">Ladakh 2013</a></div>
        <div class="sidebarItem"><a href="./2014.html">Ladakh 2014</a></div>
        <div class="sidebarItem"><a href="./2015.html">Ladakh 2015</a></div>
        <!-- <div class="sidebarItem dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expeditions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <div><a href="./2013.html">Ladakh 2013</a></div>
                <div><a href="./2014.html">Ladakh 2014</a></div>
            </ul>
        </div> -->
        <div class="sidebarItem"><a href="./impact.html">Impact Initiatives</a></div>
        <div class="sidebarItem"><a href="./press.html">Press</a></div>
        <div class="sidebarItem"><a href="./join.html">Join Us - GHE 2015</a></div>
        <div class="sidebarItem"><a href="./partners.html">Partners</a></div>
        <div class="sidebarItem" data-toggle="modal" data-target="#myUndecidedModal"><a href="#">Contact</a></div>
    </div>
</div>


