<div class="row">
    <div class="col-xs-8 col-md-3 closed" id="sidebar" role="navigation">
        <!-- <div class="sidebarItem sidebarLogo"><img src="./images/logoweb.png"></div> -->
        <a class="sidebarItem" href="./index.html"><div>Home</div></a>
        <a class="sidebarItem" href="./about.html"><div>About Us</div></a>
        <a class="sidebarItem" href="./2013.html"><div>Ladakh 2013</div></a>
        <a class="sidebarItem" href="./2014.html"><div>Ladakh 2014</div></a>
        <a class="sidebarItem" href="./2015.html"><div>Ladakh 2015</div></a>

        <a class="sidebarItem" href="./impact.html"><div>Impact Initiatives</div></a>
        <a class="sidebarItem" href="./press.html"><div>Press</div></a>
        <a class="sidebarItem sidebarHighlight" href="./join.html"><div>Join Us - GHE 2015</div></a>
        <a class="sidebarItem" href="./partners.html"><div>Partners</div></a>
        <a class="sidebarItem" data-toggle="modal" data-target="#myUndecidedModal" href="#"><div>Contact</div></a>
    </div>
</div>


